<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../statics/icon.png"/>
    <title>Sample Application</title>
    <link rel="stylesheet" type="text/css" href="../statics/main.css">
    <link rel="stylesheet" type="text/css" href="../statics/bootstrap.min.css">
</head>
<body>

<header class="home-cover">
    <%- include('nav'); -%>
</header>
<main class="main-content">
    <h1>Heading</h1>
</main>
<script src="statics/jquery-3.6.0.min.js"></script>
<script src="statics/bootstrap.min.js"></script>
</body>
</html>