<nav class="navbar fixed-top navbar-expand-lg" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img width="50" src="../statics/a-logo-green.png" alt="Brand Logo Not available">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/employees">Employees</a>
                <a class="nav-link" href="/users/profile">Profile</a>
                <a class="nav-link" href="/users/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<script src="../statics/nav.js"></script>