*{
    font-family: sans-serif;
}
body{
    margin: 0;
}
.home-cover{
    height: 100vh;
    width: 100vw;
    image-rendering: auto;
    opacity: 0.8;
    background: url("cover-background-2.jpg") no-repeat;
    background-size: cover;
}

.heading {
    font-size: 30px;
    color: black;
    text-align: center;
}

.color-white {
    color: white;
}

.navbar-ext{
    display: flex;
    transition: background 0.5s;
}

.navbar-toggler-icon {
    color: wheat;
    background-color: darkcyan;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    margin: 0 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
}
.navBar-scrolled{
    background-color: black;
}

.navbar-right {
    justify-content: end;
}